* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#ara {
    width: 360px;
    height: 50px;
    background-color: rgb(237, 234, 234)
}

#search-top {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: center;
    background-position-x: 5px;
}

#search-top::placeholder {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 5;
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 5;
}

#afis {
    padding-top: 50px;
}

#kutucuklar .col-2 {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
}

.koltuklar .col-1 {
    width: 35px;
    height: 35px;
    margin: 3px;
    border-radius: 8px;
    border: 1px solid rgb(207, 205, 205);
}



#bilet {
    display: none;
}

.koltuk.dolu {
    background-color: rgb(207, 205, 205);
}

.koltuk.dolu:hover {
    cursor: not-allowed;
}

.koltuk.secilen {
    background-color: #ffc107;
}

#sat {
    visibility: hidden;
}

.koltuk:hover {
    cursor: pointer;
}

.detayBg {
    background-image: url(../images/film-detail-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#filmDetay {
    display: none;
}

.detayBg button {
    width: 338px;
    margin-top: 200px;
    background-color: #f8e71c;
}

.detayTab {
    display: none;
}

.main-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

}

.popup {
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 300px;
    padding: 30px;
    background: white;
    position: relative;
    border-radius: 10px;
}

.popup a {
    background: red;
    color: white;
    padding: 7px 11px;
    text-decoration: none;
}

.popup-close {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 7px;
}

.main-popup:hover {
    animation: titre 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes titre {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}